<% include header.html %>


  <div class="col-lg-8 px-0">
    <h1>Hair and eye color prediction</h1>
    <p class="lead">Introduction.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Part 1</h2>
      <p class="lead">Introduction.</p>
    </div>

    <div class="col-md-6">
      <h2>Part 2</h2>
      <p class="lead">Introduction.</p>
      <ul class="icon-list">
        <li><a href="https://getbootstrap.com/docs/4.6/getting-started/webpack">Bootstrap Webpack guide</a></li>
      </ul>
    </div>
  </div>

  <% include footer.html %>