<% include header.html %>

  <header class="pb-3 mb-4 border-bottom">
    <h1 class="h4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span>
          <%= title %>
        </span>
      </a>
    </h1>
  </header>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Content.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>World Map</h2>
      <p class="lead">Content.</p>
    </div>
  </div>

  <main class="container">
    <div class="bg-light p-5 rounded">
      <h2>Title</h2>
      <p class="lead">Content.</p>
    </div>
  </main>

<script type="text/javascript">
var width = 960;
var height = 500;
var radius = 15;

// SVG variables
var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var g1 = svg.append("g"); // background
var g2 = svg.append("g"); // pie charts

// Projection variables 
// Here I want the whole world so everything 

var projection = d3.geoMercator();
var path = d3.geoPath().projection(projection);

// Pie chart variables:
var arc = d3.arc()
            .innerRadius(0)
            .outerRadius(radius);

var pie = d3.pie()
            .sort(null)
            .value(function(d) { return d; });
    
var color = ["#f9dc53", "#663333", "#b03900", '#1a0d00']

// Draw geographic features 
d3.json("https://unpkg.com/world-atlas@1/world/110m.json", function(error, world) {
    g1.insert("path", ".land")
        .datum(topojson.feature(world, world.objects.countries))
        .attr("class", "land")
        .attr("d", path);

    g1.append("path")
      .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
      .attr("class", "mesh")
      .attr("d", path);
});
    
// Draw pie charts 
d3.csv("population_predictions.csv", function(error, predictions) {
  console.log(pie(predictions))
    
  var points = g2.selectAll("g")
    .data(predictions)
    .enter()
    .append("g")
    .attr("transform", function(d) { return "translate("+projection([d.Longitude, d.Latitude])+")"})
    .attr("class", "pies")

  points.append("text")
    .attr("y", -radius- 5)
    .text(function(d) {return d.population})
    .style('text-anchor', 'middle'); 
  
  var pies = points.selectAll(".pies") 
    .data(function(d) {return pie([d.pBlond, d.pBrown, d.pRed, d.pBlack]); })
    .enter()
    .append("g")
    .attr("class", "arc")

  pies.append("path")
    .attr('d',arc)
      .attr("fill", function(d,i) {return color[i]});
});
</script>

      

  <!-- <hr class="my-5"> -->

  <div class="row">
    <div class="col-md-12">
      <h2>Validation</h2>
      <p class="lead">Content.</p>
    </div>
  </div>
      
  <% include footer.html %>