<% include header.html %>

  <header class="pb-3 mb-4 border-bottom">
    <h1 class="h4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span>
          <%= title %>
        </span>
      </a>
    </h1>
  </header>

  <div class="row">
    <div class="col-md-12">
      <p class="lead">Content.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>World Map</h2>
      <p class="lead">Content.</p>
    </div>
  </div>

  <main class="container">
    <div class="bg-light p-5 rounded">
      <h2>Title</h2>
      <p class="lead">Content.</p>
    </div>
  </main>

  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" id="map_window"
          class="embed-responsive-item" src="/error"></iframe></div>
    </div>
  </div>

  <!-- <hr class="my-5"> -->

  <div class="row">
    <div class="col-md-12">
      <h2>Validation</h2>
      <p class="lead">Content.</p>
    </div>
  </div>

  <% include footer.html %>